<div data-test-qp-foo>
  <span>{{this.foo}}</span>
  <button {{action this.addToFoo}}>
    Add to Foo
  </button>
</div>

<div data-test-qp-bar>
  <span>{{this.bar}}</span>
  <button {{action this.addToBar}}>
    Add to Bar
  </button>
</div>

